name: UFS Secretariat Auto

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"   # every 30 min

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: node scraper.js
